div.form > div.content,
#login-form,
#login-form label {
    display: flex;
    flex-direction: column;
}

div.form > div.content {
    background: rgb(0, 13, 41);
    padding: 10em;
    border-radius: 1em;
}

div.form > div.content h2 {
    font-size: 1.8rem;
}

div.form > div.content span,
#login-form button {
    font-size: 1.2rem;
}


#login-form button {
    color: black;
    font-weight: bold;
}